@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
* {
    font-family: 'Outfit', sans-serif;
}

/* Ensure elements are visible by default in case GSAP doesn't load */
.gsap-element {
    opacity: 1 !important;
    transform: translateY(0) !important;
}